@model Names.Models.NamesModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Names</h1>
    <p>
        <a href="https://github.com/Ashley-Gibson/Names" target="_blank">Names</a> is a Coding Challenge to sort a list of names from a list in names.txt and make some calculations on the list.
    </p>
    <div class="row controlPanel">
        <div class="col-2"></div>
        <div class="col-8"></div>
        <div class="col-2"></div>
    </div>
    <div class="row outputPanel">
        <div class="col-6 originalList">
            @Html.ListBoxFor(n => n.OriginalNames, Model.OriginalNames, new { size=25, style = "width:100%;max-height:100%;" })
        </div>
        <div class="col-6 outputList">
            @Html.ListBoxFor(n => n.OutputNames, Model.OutputNames, new { size=25, style = "width:100%;max-height:100%;" })
        </div>
    </div>
</div>